.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  opacity: 1;
  /* background-image: url("https://previews.123rf.com/images/foodandmore/foodandmore1705/foodandmore170500112/77253617-turkish-doner-kebab-on-golden-toasted-pita-bread-filled-with-rotisserie-roasted-meat-and-fresh-salad.jpg"); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
